.fl{
	float: left;
}

.fr{
	float: right;
}

.announce_card{
	margin-top: 10px;
	text-align: center;
}

.todo-expired-title{ 
	height: 80px; 
	border-radius: 30px 30px 0 0; 
	padding: 15px; 
	margin-top: 10px;
	font-size: 40px; 
	text-align: center;  
	font-weight: bold; 
	background: #B8B8B8; 
	color: #FFF;
}

.expired-worklist_box{
	height: 140px;
	padding: 10px;
	border: 3px solid #B8B8B8;
	border-top: 0px;
}

.expired-completed{
	/*float: left;*/
	width: 140px;
	height: 140px;
	text-align: center;
	line-height: 150px;
	border-right: 3px solid #B8B8B8;
}

.todo-title{ 
	height: 80px; 
	border-radius: 30px 30px 0 0; 
	padding: 15px; 
	margin-top: 10px;
	font-size: 40px; 
	text-align: center;  
	font-weight: bold; 
	background: #FF434C; 
	color: #FFF;
}

.newwork_card{
	padding: 10px;
	border: 3px solid #FF434C;
	border-top: 0px;
	/*background: #F0F0F0;*/
}

.insert{
	margin-bottom: 5px;
}

.worklist_card{
	height: 140px;
	/*padding: 10px;*/
	border: 3px solid #FF434C;
	border-top: 0px;
}

.completed{
	/*float: left;*/
	width: 140px;
	height: 140px;
	padding: 10px;
	text-align: center;
	line-height: 150px;
	border-right: 3px solid #FF434C;
}

.make-complete{
	color: #000000;
}

.worklist_content{
	/*float: right;*/
	width: calc(100% - 140px);
	height: 140px;
	padding: 10px;
}

.worktitle{
	height: 40px;
	padding: 5px 0;
	font-size: 20px;
	font-weight: 800;
}

.deadline{
	margin-left: 5px;
	font-size: 15px;
	font-weight: 500;
	color: #8E8E8E;
}

.priority{
	height: 20px;
}

.stars{
	color: #FFC82F;
}

.contents{
	height: 40px;
	padding-top: 3px;
}

.modify_card{
	padding: 10px;
	border: 3px solid #FF434C;
	border-top: 0px;
	/*background: #F0F0F0;*/
}

.modify{
	margin-bottom: 5px;
}

.btn-click{
	cursor: pointer;
}

.btn-disappear{
	margin-top: 15px;
	margin-right: 20px;
	color: #000000;
}
